<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <script src="./script.js"></script>
    <link href="../src/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <title>Portfolio</title>
  </head>
  <body class="bg-gradient-to-r from-black to-main-color">
    
  <header class="header fixed top-0 z-50 h-25 w-full items-center justify-around flex border-b-2 border-b-slate-900 text-center shadow-xl backdrop-blur-3xl">
    <div class="flex items-center justify-between px-4 lg:px-0 w-full lg:w-auto">
      <h1 class="logo mr-16"></h1>
      <!-- Mobile Menu Button -->
      <button class="lg:hidden cursor-pointer text-white hover:text-hover-color flex gap-2 transition-colors duration-200">
        <p>Menu</p><i class="fa-solid fa-bars text-2xl"></i>
      </button>
    </div>
    
    <div class="buttons justify-between gap-8 hidden lg:flex font-medium">
      <a href="#hero" class="hover:text-hover-color transition-colors duration-200">Home</a>
      <a href="#projects" class="hover:text-hover-color transition-colors duration-200">Projects</a>
      <a href="#about" class="hover:text-hover-color transition-colors duration-200">About</a>
      <a href="#contact" class="hover:text-hover-color transition-colors duration-200">Contact Me</a>
    </div>
  </header>
    <main>
      <div class="relative h-full w-full from-black to-main-color">
      <div class="absolute bottom-0 left-0 right-0 top-0 pointer-events-none bg-[linear-gradient(to_right,#4f4f4f1a_1px,transparent_1px)] bg-[size:215px_100%]"></div>
      <div
        id="hero"
        class="mx-10 grid items-center justify-center pb-20 pt-70 lg:pt-100 lg:pb-50 lg:mx-80 animate-slidein300"
      >
      
        <h1 class="greetings important mb-2 text-center text-5xl md:text-6xl lg:text-7xl">
          WEB DEVELOPER
        </h1>
        <p
          class="pt-2 text-center text-base text-gray-500 md:text-lg lg:mx-20 lg:max-w-2xl lg:text-xl"
        >
          Hello I'm <span class="text-white">Ace John Nieva</span>, Passionate
          about creating functional and user-friendly web applications using
          <span class="text-white">javascript</span> and
          <span class="text-white">PHP</span>.
        </p>
        <div class="mt-5 flex items-center justify-center gap-4">
          <a
            href="#projects"
            class="border-white-color rounded-sm lg:rounded-lg border-1 md:border-2 px-3 py-1 text-sm text-white transition-all duration-300 hover:bg-gray-200 hover:text-main-color hover:shadow-md md:font-medium md:text-lg lg:px-6 lg:py-3 lg:text-xl lg:font-bold"
          >
            View My Work
          </a>
          <a
            href="#contact"
            class="border-white-color text-main-color rounded-sm lg:rounded-lg border-1 lg:border-2 bg-white px-3 py-1 text-sm md:font-medium md:text-lg font-bold transition-all duration-300 hover:bg-main-color hover:text-white hover:shadow-md lg:px-6 lg:py-3 lg:text-xl"
          >
            Contact Me
          </a>
        </div>
        <div class="mt-4 lg:mt-8 flex items-center justify-center gap-6">
          <a
            href="https://github.com/Eiseu01"
            target="_blank"
            class="hover:text-accent-color text-gray-600 transition-colors"
          >
            <svg
              class="h-6 w-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
          <a
            href="https://linkedin.com/in/acejohnnieva"
            target="_blank"
            class="hover:text-accent-color text-gray-600 transition-colors"
          >
            <svg
              class="h-6 w-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
      <div id="projects" class="projects lg:mx-80 pt-50 lg:pb-20">
        <div class="title">
          <div class="important mb-2 text-center text-2xl md:text-3xl lg:text-4xl">
            <span
              class="text-main-color line-through decoration-white decoration-[0.05rem] select-none hidden lg:inline-block"
              >-----------</span
            >
            FEATURED PROJECTS
            <span
              class="text-main-color line-through decoration-white decoration-[0.05rem] select-none hidden lg:inline-block"
              >-----------</span
            >
          </div>
          <div class="text-center text-sm md:text-lg lg:text-xl font-light">
            Turning concepts into functional and effective solutions.
          </div>
        </div>
        <div class="projectInfo grid py-10 lg:grid-cols-2 lg:py-20">
          <div
            class="cool my-5 mx-10 lg:m-10 transform cursor-pointer items-center justify-center rounded-4xl bg-slate-900 p-4 transition duration-500 hover:scale-102 hover:bg-slate-800"
          >
            <div><img src="../img/campevent.png" alt="" /></div>
            <div class="p-4">
              <h1 class="text-base md:text-lg lg:text-xl font-bold">
                Campus Event and Reservation System - 2024
              </h1>
              <p class="font-light text-xs md:text-sm lg:text-base text-gray-300">
                A digital platform to simplify event planning and management on
                campus, improving efficiency and reducing manual processes.
              </p>
              <div class="pt-2">
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>PHP</li>
                  <li>MySQL</li>
                  <li>Javascript</li>
                  <li>Jquery</li>
                </ul>
              </div>
              <div class="mt-2 lg:mt-5">
                <a
                  href="https://github.com/Eiseu01/webdev"
                  target="_blank"
                  class="cursor-pointer rounded-sm bg-slate-600 text-sm px-2 py-1 lg:text-base lg:px-4 lg:py-2 font-medium lg:font-semibold transition duration-200 hover:opacity-80"
                >
                  View Repository
                </a>
              </div>
            </div>
          </div>
          <div
            class="cool my-5 mx-10 lg:m-10 transform cursor-pointer items-center justify-center rounded-4xl bg-slate-900 p-4 transition duration-500 hover:scale-102 hover:bg-slate-800"
          >
            <div><img src="../img/gameDictionary.png" alt="" /></div>
            <div class="p-4">
              <h1 class="text-base md:text-lg lg:text-xl font-bold">Game Dictionary - 2024</h1>
              <p class="font-light text-xs md:text-sm lg:text-base text-gray-300">
                A website where users can search for a game and learn its
                information.
              </p>
              <div class="pt-2">
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                </ul>
              </div>
              <div class="mt-2 lg:mt-5">
                <a
                  href="https://github.com/Eiseu01/gamemaven-user"
                  target="_blank"
                  class="cursor-pointer rounded-sm bg-slate-600 text-sm px-2 py-1 lg:text-base lg:px-4 lg:py-2 font-medium lg:font-semibold transition duration-200 hover:opacity-80"
                >
                  View Repository
                </a>
              </div>
            </div>
          </div>
          <div
            class="cool my-5 mx-10 lg:m-10 transform cursor-pointer items-center justify-center rounded-4xl bg-slate-900 p-4 transition duration-500 hover:scale-102 hover:bg-slate-800"
          >
            <div><img src="../img/iris.png" alt="" /></div>
            <div class="p-4">
              <h1 class="text-base md:text-lg lg:text-xl font-bold">
                Iris Flower Species Predictor - 2025
              </h1>
              <p class="font-light text-xs md:text-sm lg:text-base text-gray-300">
                This project uses a machine learning model to predict the species of an Iris flower.
              </p>
              <div class="pt-2">
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Python</li>
                  <li>Django</li>
                </ul>
              </div>
              <div class="mt-2 lg:mt-5">
                <a
                  href="https://github.com/Eiseu01/webdev"
                  target="_blank"
                  class="cursor-pointer rounded-sm bg-slate-600 text-sm px-2 py-1 lg:text-base lg:px-4 lg:py-2 font-medium lg:font-semibold transition duration-200 hover:opacity-80"
                >
                  View Repository
                </a>
              </div>
            </div>
          </div>
          <div
            class="cool my-5 mx-10 lg:m-10 transform cursor-pointer items-center justify-center rounded-4xl bg-slate-900 p-4 transition duration-500 hover:scale-102 hover:bg-slate-800"
          >
            <div><img src="../img/grocery.png" alt="" /></div>
            <div class="p-4">
              <h1 class="text-base md:text-lg lg:text-xl font-bold">Gorcery List - 2024</h1>
              <p class="font-light text-xs md:text-sm lg:text-base text-gray-300">
                A simple grocery list that allows users to add, edit, and remove items from their shopping list.
              </p>
              <div class="pt-2">
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Javascript</li>
                </ul>
              </div>
              <div class="mt-2 lg:mt-5">
                <a
                  href="https://github.com/Eiseu01/Grocery-list"
                  target="_blank"
                  class="cursor-pointer rounded-sm bg-slate-600 text-sm px-2 py-1 lg:text-base lg:px-4 lg:py-2 font-medium lg:font-semibold transition duration-200 hover:opacity-80"
                >
                  View Repository
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="about">
        <div class="grid items-center justify-center pt-5 text-left font-light">
          <h1 class="important mb-2 text-center text-2xl md:text-3xl lg:text-4xl">
            <span
              class="text-main-color line-through decoration-white decoration-[0.05rem] select-none hidden lg:inline-block"
              >----------------</span
            >
            ABOUT ME
            <span
              class="text-main-color line-through decoration-white decoration-[0.05rem] select-none hidden lg:inline-block"
              >----------------</span
            >
          </h1>
          <div class="cool grid items-center justify-center">
            <h2 class="lg:px-45 lg:pt-30 lg:pb-10 text-center text-lg md:text-xl lg:text-2xl font-bold">
              What I do as a Web Developer
            </h2>
            <h3 class="lg:text-xl text-lg text-center p-4 lg:max-w-3xl mx-auto">
              <span>Design Implementation:</span> Translating design mock ups
              into real, working web pages using HTML, CSS, Tailwind and
              JavaScript, focusing on clean structure and consistent styling.
            </h3>
            </h3 class="text-sm">
            <h3 class="lg:text-xl text-lg text-center p-4 lg:max-w-3xl mx-auto">
              <span>Backend Integration with PHP:</span> Building dynamic web
              pages with PHP by connecting front-end designs to server-side
              logic, including forms and basic databases.
            </h3>
          </div>
        </div>
        <div class="m-15">
          <h2 class="important pb-15 text-center text-2xl md:text-3xl lg:text-4xl">SKILLS</h2>
          <div class="grid items-center justify-center">
            <div
              class="cool stacks grid grid-cols-4 md:grid-cols-8 items-center justify-center gap-4"
            >
              <div class="group relative grid items-center justify-center">
                <img
                  class="cursor-pointer size-10 md:size-14 lg:size-18"
                  src="../img/html_5.png"
                  alt="HTML5"
                />
                <span
                  class="absolute bottom-full left-0 md:left-1 lg:left-3 mb-2 w-max scale-0 rounded bg-gray-800 px-2 py-1 text-xs transition duration-300 group-hover:scale-100"
                  >HTML</span
                >
              </div>

              <div class="group relative grid items-center justify-center">
                <img class="cursor-pointer size-10 md:size-14 lg:size-18" src="../img/css_3.png" alt="CSS3" />
                <span
                  class="absolute bottom-full left-0 md:left-2 lg:left-4 mb-2 w-max scale-0 rounded bg-gray-800 px-2 py-1 text-xs text-white transition duration-300 group-hover:scale-100"
                  >CSS</span
                >
              </div>

              <div class="group relative grid items-center justify-center">
                <img
                  class="cursor-pointer size-10 md:size-14 lg:size-18"
                  src="../img/tailwindcss-plain.png"
                  alt="Tailwind"
                />
                <span
                  class="absolute bottom-full -left-2 md:left-0 lg:left-3 mb-2 w-max scale-0 rounded bg-gray-800 px-2 py-1 text-xs text-white transition duration-300 group-hover:scale-100"
                  >Tailwind</span
                >
              </div>

              <div class="group relative grid items-center justify-center">
                <img
                  class="cursor-pointer size-10 md:size-14 lg:size-18"
                  src="../img/js.png"
                  alt="JavaScript"
                />
                <span
                  class="absolute bottom-full -left-4 md:-left-2 lg:left-0 mb-2 w-max scale-0 rounded bg-gray-800 px-2 py-1 text-xs text-white transition duration-300 group-hover:scale-100"
                  >JavaScript</span
                >
              </div>

              <div class="group relative grid items-center justify-center">
                <img
                  class="cursor-pointer size-10 md:size-14 lg:size-18"
                  src="../img/Group 1.png"
                  alt="Git"
                />
                <span
                  class="absolute bottom-full left-1 md:left-3 lg:left-5 mb-2 w-max scale-0 rounded bg-gray-800 px-2 py-1 text-xs text-white transition duration-300 group-hover:scale-100"
                  >Git</span
                >
              </div>

              <div class="group relative grid items-center justify-center">
                <img
                  class="cursor-pointer size-10 md:size-14 lg:size-18"
                  src="../img/Group 2.png"
                  alt="PHP"
                />
                <span
                  class="absolute bottom-full left-0 md:left-2 lg:left-4 mb-2 w-max scale-0 rounded bg-gray-800 px-2 py-1 text-xs text-white transition duration-300 group-hover:scale-100"
                  >PHP</span
                >
              </div>

              <div class="group relative grid items-center justify-center">
                <img
                  class="cursor-pointer size-10 md:size-14 lg:size-18"
                  src="../img/mysql 1.png"
                  alt="MySQL"
                />
                <span
                  class="absolute bottom-full -left-2 md:left-0 lg:left-3 mb-2 w-max scale-0 rounded bg-gray-800 px-2 py-1 text-xs text-white transition duration-300 group-hover:scale-100"
                  >MySQL</span
                >
              </div>

              <div class="group relative grid items-center justify-center">
                <img
                  class="cursor-pointer size-10 md:size-14 lg:size-18"
                  src="../img/figma.png"
                  alt="Figma"
                />
                <span
                  class="absolute bottom-full -left-2 md:left-0 lg:left-4 mb-2 w-max scale-0 rounded bg-gray-800 px-2 py-1 text-xs text-white transition duration-300 group-hover:scale-100"
                  >Figma</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="contact" class="pt-10 lg:pt-30">
        <div class="grid items-center justify-center">
          <h1 class="important mb-2 pt-5 text-center text-2xl md:text-3xl lg:text-4xl">
            <span
              class="text-main-color line-through decoration-white decoration-[0.05rem] select-none hidden lg:inline-block"
              >----------------</span
            >
            Contact Me
            <span
              class="text-main-color line-through decoration-white decoration-[0.05rem] select-none hidden lg:inline-block"
              >----------------</span
            >
          </h1>
          <h2 class="text-center text-lg md:text-xl lg:text-2xl font-light">
            Let's Build Something Extraordinary Together
          </h2>
        </div>
         <div class="grid items-center justify-center py-10">
          <form action="" id="contactForm" class="cool sendMessage">
            <div class="py-2 grid grid-cols-1 lg:grid-cols-2 mx-15 text">
              <input id="name" class="mb-2 lg:mb-0 lg:mr-1" type="text" placeholder="Your Full Name" name="from_name"/>
              <input class="" id="email" name="from_email" type="email" placeholder="Your Email" />
            </div>
            <div class="py-2 grid items-center justify-center mx-15">
              <textarea
                name="message"
                cols="65"
                rows="8"
                id="message"
                placeholder="Your Message"
              ></textarea>
            </div>
            <div
              class="cursor-pointer rounded-lg bg-blue-600 py-2 text-center mx-15 font-bold transition duration-300 hover:opacity-80"
            >
              <input
                class="cursor-pointer"
                type="submit"
                value="Send Message"
              />
            </div>
          </form>
        </div>
        <div class="grid items-center justify-center ">
          <div
            class="stacks grid grid-cols-5 items-center justify-center gap-5 lg:gap-15"
          >
            <a href="https://www.linkedin.com/in/acejohnnieva" target="_blank"
              ><img src="../img/linkedin.png" alt="Linkedin"
            /></a>
            <a href="https://github.com/eiseu01" target="_blank">
              <img src="../img/github.png" alt="Github" />
            </a>
            <a href="https://facebook.com/eiseu.16" target="_blank">
              <img src="../img/Facebook.png" alt="Facebook" />
            </a>
            <div class="group relative cursor-pointer">
              <img src="../img/gmail.png" alt="Gmail" />
              <span
                class="absolute -top-8 left-1/2 -translate-x-1/2 scale-0 transform rounded bg-gray-800 px-2 py-1 text-sm text-white transition-all group-hover:scale-100"
              >
                acejohnnieva01@gmail.com
              </span>
            </div>
            <div class="group relative cursor-pointer">
              <img src="../img/phone.png" alt="Phone" />
              <span
                class="absolute -top-8 left-1/2 -translate-x-1/2 scale-0 transform rounded bg-gray-800 px-2 py-1 text-sm text-white transition-all group-hover:scale-100"
              >
                09659523730
              </span>
            </div>
          </div>
        </div>
        <p class="p-10 text-[10px] md:text-xs lg:text-sm text-center text-gray-500">
          No leaks here. What we discuss stays between us.
        </p>
      </div>
    </main>
    <footer>
      <hr class="text-gray-400" />
      <p
        class="p-1 text-center text-[10px] md:text-xs lg:text-sm font-light tracking-widest text-gray-400"
      >
        © 2025, Nieva Ace John
      </p>
    </footer>
  </body>
</html>
